<html>
    <body>
        
    
<form class="form" action="/signup" method="POST">
    <div class="form-group">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <input id="email" name="email" class="form-control" type="text" placeholder="Email" autocomplete="off" required>
    </div>
    <div class="form-group">
        <!-- <label for="password" aria-readonly="true">password</label> -->
        <i class="fa fa-unlock" aria-hidden="true"></i>
        <input id="password" name="password" class="form-control" type="password" placeholder="password" autocomplete="off" required>
    </div>

    <div class="btn-submit">
        <button type="submit" class="sign-in-btn">Signup</button>
    </div>

</form>
</body>
</html>